@import "common";

$top_down: 100px;
$reportlist-panel-bg: #8579bb;
.options  {
  position: absolute;
  top: $top_down - 20px;
  left: 20px;
  width: 1810px;
  //border: 1px solid red;
  > .search {
    width: 400px;
    float: left;
    > input {
      width: 250px;
      display: inline-block;
      float: left;
      border-left: 0;
      border-right: 0;
    }
    > button{
      float: left;
    }
    .configWindow{
      position: absolute;
      top: 34px;
      display: none;
      //height: 260px;
      width: 271px;
      border: 1px solid gray;
      background-color: #f9f8a2;
      z-index: 1;
      padding: 20px;
      color: #444;
      &:hover{
        display: block;
      }
      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #99a6ff;
        margin: 1em 0;
        padding: 0;
      }
    }
    #find-btn-config {
      padding-left: 5px;
      padding-right: 5px;
      &:focus {
        ~ .configWindow {
          display: block;
        }
      }
    }
  }
  > button {
    width: 400px;
    text-transform: capitalize;
  }
}
.actionGroup {
  position: absolute;
  top: $top_down + 40px;
  left: 20px;
  //border: 1px solid red;
  //width: 500px;
  button {
    width: 362.9px; //290px ;
  }
}
.reportList {
  position: absolute;
  top: $top_down + 80px;
  left: 20px;//380px;
  height: 730px;
  width: 1810px;//1450px;
  border: 1px solid $reportlist-panel-bg;
  > .header {
    background-color: $reportlist-panel-bg;
    height: 40px;
    > .page-manage {
      float: right;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      margin: -10px 10px 0 0;
      padding: 0 20px;
      background-color: rgba(0, 0, 0, 0.28);
    }
  }
  .reportContents {
    height: calc(100% - 45px);
    overflow-x: hidden;
    overflow-y: scroll;
    //border: 1px solid #b1b1b1;
    tbody {
      tr {
        &:hover {
          background-color: gray !important;
          color: white !important;
          cursor: pointer;
        }
      }
    }
  }
}

.reportInfo{
  width: 100%;
  height: auto;
  background-color: inherit;
  tr {
    td:nth-child(1){
      color: #464646;
      line-height: 34px;
      vertical-align: middle;
    }
    td:nth-child(2){
      font-weight: bold;
      line-height: 34px;
      vertical-align: middle;
    }
  }
}

#edit_tabs{
  #etabs-data{
    #dynamic-data-table{
      text-align: center;
      td{
        line-height: 35px;
        vertical-align: middle;
      }
    }
    //background-color: red;
    .add-new-field-bar{
      width: 100%;
      height: 40px;
      background-color: gray;
      .add-new-field-button{
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        vertical-align: middle;
        color: white;
        float: right;
        cursor: pointer;
        &:hover{
          background-color: #464646;
      }
      }
    }
  }
  #etabs-author{
    textarea {
      resize: none;
    }
  }
}



.bootstrap-timepicker {
  position: relative;
  border-radius: 0 !important;
  &.pull-right {
    .bootstrap-timepicker-widget {
      border-radius: 0;
      &.dropdown-menu {
        left: auto;
        right: 0;

        &:before {
          left: auto;
          right: 12px;
        }
        &:after {
          left: auto;
          right: 13px;
        }
      }
    }
  }

  .input-group-addon {
    cursor: pointer;
    i {
      display: inline-block;
      width: 16px;
      height: 16px;
    }
  }
}
.bootstrap-timepicker-widget {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius: 0;
  &.dropdown-menu {
    padding: 4px;
    &.open {
      display: inline-block;
    }
    &:before {
      border-bottom: 7px solid rgba(0, 0, 0, 0.2);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
    }
    &:after {
      border-bottom: 6px solid #FFFFFF;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
    }
  }
  &.timepicker-orient-left {
    &:before {
      left: 6px;
    }
    &:after {
      left: 7px;
    }
  }
  &.timepicker-orient-right {
    &:before {
      right: 6px;
    }
    &:after {
      right: 7px;
    }
  }
  &.timepicker-orient-top {
    &:before {
      top: -7px;
    }
    &:after {
      top: -6px;
    }
  }
  &.timepicker-orient-bottom {
    &:before {
      bottom: -7px;
      border-bottom: 0;
      border-top: 7px solid #999;
    }
    &:after {
      bottom: -6px;
      border-bottom: 0;
      border-top: 6px solid #ffffff;
    }
  }
  a.btn, input {
    border-radius: 0;
  }

  table {
    width: 100%;
    margin: 0;

    td {
      text-align: center;
      height: 30px;
      margin: 0;
      padding: 2px;

      &:not(.separator) {
        min-width: 30px;
      }

      span {
        width: 100%;
      }
      a {
        border: 1px transparent solid;
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 8px 0;
        outline: 0;
        color: #333;

        &:hover {
          text-decoration: none;
          background-color: #eee;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border-color: #ddd;
        }

        i {
          margin-top: 2px;
          font-size: 18px;
        }
      }
      input {
        width: 25px;
        margin: 0;
        text-align: center;
      }
    }
  }
}

.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}

@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}

@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;

    .dropdown-menu {
      width: 100%;
    }
  }
}