.reportInfoPanel{
  position: absolute;
  left: 10px;
  top: 80px;
  width: 350px;
  height: 842px;
  td {
    line-height: 30px !important;
  }
  .panel-body{
    overflow-x: auto;
    height: 802px;
  }
}

/*.motorDataPanel{
  @extend .reportInfoPanel;
  top: 645px;
  height: 278px;
}*/

/*#pnidPanel{
  position: absolute;
  left: 365px;
  top: 80px;
  height: 560px;
  width: 768px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: 100%;
  //background-image: url("http://192.168.10.195:80/mist/hptb/contents/images/mist_ptp_pnid.png");
}*/

#alarmPanel{
  position: absolute;
  left: 365px;
  top: 645px;
  height: 278px;
  width: 768px;
  .panel-body{
    //overflow-x: auto;
    height: 238px;
  }
}

#controlPanel{
  position: absolute;
  top: 80px;
  left: 1138px;
  width: 350px;
  height: 390px;
}

#statusPanel{
  position: absolute;
  top: 80px;
  left: 1493px;
  width: 348px;
  height: 842px;
  .panel-body{
    overflow-x: auto;
    height: 802px;
  }
  td{
    line-height: 30px;
  }
}

#progressBar{
  position: absolute;
  top: 375px;
  left: 1493px;
  width: 348px;
  height: 95px;
  border-left: 40px solid green;
  padding: 10px 0 0 10px;
  .progrs{
    height: 20px;
    width: 288px;
    background-color: #bababa;
    margin-top: 5px;
    .bar{
      height: inherit;
      background-color: #449b4b;
    }
  }
}

#reportDataPanel{
  position: absolute;
  left: 365px;
  top: 80px;
  width: 768px;
  height: 560px;
  .panel-body{
    height: 520px;
    overflow-x: auto;
    th{
      text-align: center;
    }
    td{
      text-align: center;
    }
  }
}

/*#systemLogPanel{
  position: absolute;
  left: 1138px;
  top: 475px;
  width: 703px;
  height: 448px;
  .panel-body{
    //height: 408px;
    overflow-x: auto;
  }
}*/
